{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<div class="container">
    <form action='/update' method="POST">

        <table class="table">

            <tr>
                <td>Id</td>
                <td><input type="text" name="id" value="{{data[0]}}" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" value="{{data[1]}}" /></td>
            </tr>

            <tr>
                <td>Email</td>
                <td><input type="email" name="email" value="{{data[2]}}" /></td>
            </tr>


            <tr>
                <td>Gender</td>
                <td>
                    Male: <input type="radio" name="gender" value="male" /> Female: <input type="radio" name="gender" value="female" />
                </td>
            </tr>
            <tr>
                <td>type</td>
                <td>
                    <select name="group">
            <option value="Individual ">Individual</option>
            <option value="Organization ">Organization</option>
           \
         </select>
                </td>
            </tr>





            <tr>
                <td>Quntity</td>
                <td>
                    <select name="qun">
            <option  value="1 ">1L</option>
            <option value="2 ">2L</option>
            <option value="3 ">3L</option>
            <option value="4 ">4L</option>
            <option value="5 ">5L</option>
            <option value="10 ">10L</option>
         </select>
                </td>
            </tr>


            <tr>
                <td colspan="2 ">
                    <input type="submit" name="submit " value="submit " class="btn btn-warning ">
                </td>

            </tr>
        </table>


    </form>


</div>
{% endblock %}